<p>input-field works!</p>
<!-- input-field.component.html -->
<div>
    <label>{{ field.label }}</label>
    <ng-container [ngSwitch]="field.type">
      <input *ngSwitchCase="'text'" [(ngModel)]="field.value" [attr.placeholder]="field.placeholder" name="{{field.name}}" required>
      <input *ngSwitchCase="'email'" [(ngModel)]="field.value" type="email" [attr.placeholder]="field.placeholder" name="{{field.name}}" required>
      <select *ngSwitchCase="'select'" [(ngModel)]="field.value" name="{{field.name}}" required>
        <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
      </select>
    </ng-container>
  </div>
  