.grid-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.manage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(128, 2, 160);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 80px;
}

.manage-button:hover {
    background-color: #6302be;
    transform: scale(1.05);
}

.nav-label {
    display: block;
    text-align: center;
}
