<p>user-create-page worksa!</p>
<dir class="flex flex-col items-center ">
    <form [formGroup]="myForm"(ngSubmit)="onSubmit()">
        Value : {{myForm.value | json}}

  <input formControlName="email" >
  <span *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      Your email does not look right
  </span>

  <input formControlName="password">
  <span *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
      That password sucks...
  </span>

  <input formControlName="age">
  <span *ngIf="myForm.get('age')?.errors?.['min'] && myForm.get('age')?.touched">
      {{ myForm.get('age')?.errors?.['min'].actual }} is young to use this app kiddo!
  </span>
  <span *ngIf="myForm.get('age')?.errors?.['max'] && myForm.get('age')?.touched">
      {{ myForm.get('age')?.errors?.['max'].actual }} is too old to use this app gramps!
  </span>

  <button type="submit" [disabled]="
false
  ">Let's Do it!</button>

</form>
</dir>