<div class="flex flex-col items-center">
  <form [formGroup]="gameDepositForm" (ngSubmit)="onSubmit()">
    <h1>Déposer un Jeu</h1>
    <h2>Fournissez les informations sur le jeu</h2>

    <!-- Email du vendeur -->
    <mat-form-field appearance="fill">
      <mat-label>Email du vendeur</mat-label>
      <input matInput formControlName="seller_email" type="email">
      <mat-error *ngIf="gameDepositForm.get('seller_email')?.invalid && gameDepositForm.get('seller_email')?.touched">
        Veuillez fournir un email valide
      </mat-error>
    </mat-form-field>

    <!-- Option pour afficher le code promo -->
    <mat-checkbox formControlName="hasPromoCode">J'ai un code promo</mat-checkbox>


    <!-- Champ pour le code promo, affiché uniquement si "hasPromoCode" est coché -->
    <mat-form-field *ngIf="gameDepositForm.get('hasPromoCode')?.value">
      <mat-label>Code Promo</mat-label>
      <input matInput formControlName="code_promo" type="text">
      <mat-error *ngIf="gameDepositForm.get('code_promo')?.invalid && gameDepositForm.get('code_promo')?.touched">
        Veuillez entrer un code promo valide
      </mat-error>
    </mat-form-field>

    <form [formGroup]="gameSelectionForm" (ngSubmit)="addGame()">
      <h2>Sélectionner un jeu</h2>

      <!-- Sélection de la licence -->
      <mat-form-field appearance="fill">
        <mat-label>Sélectionner une licence</mat-label>
        <mat-select formControlName="licence_id">
          <mat-option *ngFor="let license of licenses" [value]="license.id">
            {{ license.nom }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="gameDepositForm.get('licence_id')?.invalid && gameDepositForm.get('licence_id')?.touched">
          Veuillez sélectionner une licence
        </mat-error>
      </mat-form-field>

      <!-- Champ pour le prix -->
      <mat-form-field>
        <mat-label>Prix</mat-label>
        <input matInput formControlName="prix" type="number">
        <mat-error *ngIf="gameDepositForm.get('prix')?.invalid && gameDepositForm.get('prix')?.touched">
          Veuillez entrer un prix valide
        </mat-error>
      </mat-form-field>

      <!-- Champ pour la quantité -->
      <mat-form-field>
        <mat-label>Quantité</mat-label>
        <input matInput formControlName="quantity" type="number">
        <mat-error *ngIf="gameDepositForm.get('quantity')?.invalid && gameDepositForm.get('quantity')?.touched">
          Veuillez entrer une quantité valide
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="gameSelectionForm.invalid">
        Ajouter le Jeu
      </button>


      <h2>Jeux sélectionnés :</h2>
      <mat-list *ngIf="games.length === quantities.length">
        <mat-list-item *ngFor="let game of games; let i = index" class="flex justify-between items-center">
          <div class="flex items-center w-full">
        <span class="flex-grow">
          {{ game.licence_name }} | Prix: {{ game.prix }} | Quantité: {{ quantities[i] }}
        </span>
        <button mat-icon-button color="warn" type="button" (click)="removeGame(i)" class="pt-1">
          <mat-icon>delete</mat-icon>
        </button>
          </div>
        </mat-list-item>
      </mat-list>


    </form>

    <button mat-raised-button type="submit" [disabled]="gameDepositForm.invalid">
      Déposer les Jeux
    </button>
  </form>
</div>