<!-- form.component.html -->
<div class="border-0 bg-mantle border-mauve rounded-lg p-2 min-w-[32rem]">
    <!-- TODO : Replace placeholder with input -->
    <div class="mb-4 text-flamingo">
        <h1 class="text-center">Title</h1>
        <h2 class="text-center">Description</h2>
    </div>
    <form (ngSubmit)="onSubmit()">
        <app-input-field *ngFor="let field of fields" [field]="field" [(ngModel)]="formData[field.name]"
            [name]="field.name"></app-input-field>
        <button class="m-4" type="submit">Create User</button>
    </form>
</div>